{% extends 'base.html.twig' %}

{% block title %}{{ session.name }}{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container d-flex justify-content-center">
            <div class="row">
                <h1 class="text-center m-3">{{ session.name }}</h1>
                <div class="col-12 col-md-8 col-lg-6 rounded bg-light custom-shadow p-3 mx-auto">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{{ session.image }}"
                             alt="Image de la partie"
                             style="width:10rem;height: 10rem"
                             class="rounded">
                        <h5>Maître de jeu :</h5>
                        <p>{{ users_in_session[0].username }}</p>
                    </div>
                    <hr>
                    <div>
                        <ul>
                            <li>
                                <i class="bi bi-geo-alt-fill"></i>
                                Lieu : {{ session.place }}</li>
                            <li>
                                <i class="bi bi-calendar-check-fill"></i>
                                Date : {{ session.date|date('Y-m-d H:i') }}</li>
                            <li>
                                <i class="bi bi-hourglass-split"></i>
                                Type : {{ session.type }}</li>
                        </ul>
                    </div>
                    <hr>
                    <div>
                        <h5>Description :</h5>
                        <p>{{ session.description }}</p>
                    </div>
                    <hr>
                    <div class="mb-5">
                        <div class="d-flex justify-content-between">
                            <h5>Joueurs :</h5>
                            <span class="me-4 text-nowrap">
                            {{ session.currentPlayerNb }} / {{ session.maxPlayerNb }}
                        </span>
                        </div>
                        <div>
                            <ul>
                                {% for user_session in user_sessions %}
                                    {% if user_session.pcName or user_session.pcRace or user_session.pcClass %}
                                        <li class="text-nowrap">{{ user_session.pcName }},
                                            {{ user_session.pcRace }}
                                            {{ user_session.pcClass }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if users_in_session[0].id == app.user.id %}
                        <div class="d-flex justify-content-evenly m-3">
                            <a href="{{ path('app_session_edit', {'id': session.id}) }}"
                               class="btn btn-outline-warning">Modifier la session</a>
                            {{ include('session/_delete_form.html.twig') }}
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-around m-3">
                            <a class="btn btn-danger" href="#">
                                Rejoindre la partie
                            </a>
                            <a class="btn btn-outline-secondary" href="{{ path('app_home') }}">
                                Revenir à l'accueil
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-center m-3">{{ session.name }}</h1>
        <div class="text-center text-secondary m-5">
            Vous devez être connecté pour voir les détails d'une partie et vous y inscrire.
        </div>
    {% endif %}
{% endblock %}