{% extends 'base.html.twig' %}

{% block title %}{{ session.name }}{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="row">
            <h1 class="text-center m-3">{{ session.name }}</h1>
            <div class="col-12 col-md-8 col-lg-6 rounded bg-light custom-shadow p-3 mx-auto">
                <div class="d-flex flex-column align-items-center">
                    <img src="{{ session.image }}"
                         alt="Image de la partie"
                         style="width:10rem;height: 10rem">
                    <h5>Maître de jeu :</h5>
                    <p>Master Darek</p>
                </div>
                <div>
                    <ul>
                        <li>
                            <i class="bi bi-geo-alt-fill"></i>
                            Lieu : {{ session.place }}</li>
                        <li>
                            <i class="bi bi-calendar-check-fill"></i>
                            Date : {{ session.date|date('Y-m-d H:i') }}</li>
                        <li>
                            <i class="bi bi-hourglass-split"></i>
                            Type : {{ session.type }}</li>
                    </ul>
                    <h5>Description :</h5>
                    <p>{{ session.description }}</p>
                </div>
                <div>
                    <h5>Joueurs :</h5>
                    <div class="d-flex justify-content-between align-items-center">
                    <ul>
                        <li>Aragorn</li>
                        <li>Legolas</li>
                        <li>Gandalf</li>
                    </ul>
                        <span class="me-4">
                            {{ session.currentPlayerNb }} / {{ session.maxPlayerNb }}
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-center m-2">
                    <a class="btn btn-danger" href="#">
                        Rejoindre la partie
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# <a href="{{ path('app_home') }}">back to list</a> #}
{# <a href="{{ path('app_session_edit', {'id': session.id}) }}">edit</a> #}
{# {{ include('session/_delete_form.html.twig') }} #}